#kontact {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 35px;
  width: 100%;
  position: relative;
  background-color: #d9d8d8;
}

.kontact-title {
  padding-bottom: 32px;
}
.kontact-title strong {
  font-size: 56px;
  color: #222;
}
.kontact-title hr {
  width: 200px;
  border-color: #ccc;
}

.kontact-title h1 {
  font-size: 24px;
  color: #000;
}

#kontact .adress li {
  list-style: none;
}

#kontact .adress .haveicon {
  display: flex;
  align-items: flex-end;
  column-gap: 3px;
  row-gap: 30px;
}

#kontact .adress {
  float: left;
  width: 297px;
  height: 370px;
  text-align: left;
  color: #222;
  border-right: 1px solid #222;
  margin-bottom: 10px;
  padding-inline-start: 175px;
}

#kontact .adress h3 {
  margin-top: 0;
  border-bottom: 1px solid #222;
  font-size: 24px;
  color: #222;
}

#kontact p {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
#kontact .chart {
  line-height: 2px;
}
